#certificate_student_view_form{
 
    color: #a05500;

}


#o_form_label{

    
    color: #a06800;

}



.o_form_view .o_form_sheet_bg > .o_form_sheet {
    background: #ec4571 !important;
    
}

.o_form_view .o_form_statusbar{
    background-color: #932121 !important;
}






div#wrap.oe_structure{

    background-color: chartreuse    ;

}

#form-group{

  background-color: #00A09D;

}



